/* Empty. Add your own CSS if you like */
<<<<<<< HEAD

* {margin:0; padding:0; }


.editor-container {
  position: relative;
  max-width: 650px;
  margin: 50px auto;
  float: left;
  width: 100%;
  height: auto;
}

.textinput {
  height: 30px;
  outline: none;
  resize: none;
    width:100%;
  border: 1px solid #f0f0f0;
=======
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,300);
body, .tab-item, h2, button{
  font: 100% "Lato", sans-serif; 
}

h2{
	font-size:20px;
	font-weight:700;
}

.item{
	margin-bottom: 10px;
	border-radius: 2px;
}

.right-list{
	float: right;
	margin-top:-35px;
	right:10px;
	position:absolute;
}

.checkbox{
	width:35px;
	opacity: 0.5;
	display: inline;
	float: left;
>>>>>>> e9efe854edb095baa6064f7ba2e7dd3186eede12
}